.titres{
    .titres__btn{
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
       
        &:hover{
         transform: scale(1.19);
         background: lighten($Secondaire-color, 1%);
         
         }
    }

}


  .card__icon{
    position: absolute;
    right: 8%;
    margin: 10%;
    .far.fa-heart {
        cursor: pointer;
        font-size: 29px;
        position: absolute;
        margin-top: 38vw;
        right: 1%;
        z-index: 5;
        overflow: hidden;
        &:hover {
          transition: color 0.5s ease;
          color: transparent;
        }
        &:hover + .box-hidden {
          bottom: 30px;
        }
      }
      
      
      .box-hidden {
        position: absolute;
        width: 28px;
        height: 24px;
        right: 1%;
        margin-top: 38vw;
        background: $white-color;
        transition: all 0.3s ease;
        z-index: 2;
      }
      
      
      .fas.fa-heart {
        font-size: 29px;
        position: absolute;
        right: 1%;
        margin-top: 38vw;
        background: linear-gradient(to top, $Secondaire-color, $primaire-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
  } 











.fonctionnement{
    .fonctionnement__liste{
        cursor: pointer;
        &:hover{
            background: lighten($primaire-color, 30%);
        }
        
     }
}


@keyframes loadingFade {
    from {
      opacity: 1;
      z-index: 10;
    }
    90% {
      opacity: 1;
      z-index: 10;
    }
    to {
      opacity: 0;
      z-index: -5;
    }
  }
  
  @keyframes loadingSpinner {
    from {
      z-index: 15;
      transform: rotate(0deg);
    }
    to {
      z-index: -5;
      transform: rotate(1080deg);
    }
  }
