.titres{
    .titres__btn{
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
       
        &:hover{
         transform: scale(1.19);
         
         }
    }

}