// Variables :
$fotter-color: #353535;
$white-color: #f8f5f5;
$nouveux-color:#2fa487;
$step-color:#9356DC;
$body-font: "Roboto", sans-serif;



*{
    max-width: 700px;
    margin: 0px;
    padding: 0px;
    font-family: $body-font;

}
.logo {
    width: 100%;
    text-align: center;

    .logo__img{
        width: 150px;
        padding: 10px;
        margin-top: 10px;
        }
}

.tete
{
    width: 100%;
    padding: 13px 0PX 13PX 0PX;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 5px 5px 0px #cbcaca;
   
    .recherche__localis
    {
        margin-right: 12px;
        .recherche__place
        {
            border-radius: 13px;
            border: none;
            font-size: 1em;
            max-width: 10em;
            font-weight: 600;
            padding: 0.5em 0.5em 0.5em 1em;
        }
    }
    
}

.titres{
    text-align: center;
    width: 100%;
    padding: 40px 0 40px 0;
    background-color: #f4f4f4;;
    
    .titres__h1{
        margin: auto;
        width: 70%;

    }
    .titres--p{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 90%;
        font-weight: 100;
        font-size: 1.2em;
    }
    .titres__btn{
        border-radius: 50px;
        color: $white-color;
        font-size: 1.2em;
        background: linear-gradient(0deg, #9356DC, #FF79DA);
        margin: 20px;
        border: none;
        box-shadow: 0px 3px 6px 2px #bfbdbd;
        padding: 2vh 4vw;
    }

}

.fonctionnement
{
    width: 100%;
    padding-top: 12%;
    padding-bottom: 20%;
    
    .fonctionnement__tetre{
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .fonctionnement__liste
    {
        margin: 20px 30px 0 30PX;
        box-shadow: 0px 5px 10px 2px #d8d7d7;
        padding: 20px;
        border-radius: 15px;
        background-color: $white-color;
        display: flex;
        
        .fonctionnement__step
        {
            position: absolute;
            left: 17px;
            background-color: $step-color;
            border-radius: 50%;
            padding: 4.2px 9px 4.2px 9px;
            margin-top: -3px;
            color: $white-color;
        }
        .fonctionnement__incons{
            margin-left: 15px;
            margin-right: 25px;
            opacity: 0.5;
            font-size: x-large;
        }
        .fonctionnement__texte{
            font-weight: 600;
        }
    }
}


.partie_resturants{

    width: 100%;
    background-color: #f4f4f4;
    .resturants{
        width: 100%;
        h2{
            padding-left: 20px;
            padding-bottom: 25px;
            padding-top: 50px;
        }
        .resturants__contenu {
            padding-bottom: 50px;

            .ressturants__tag{
                position: absolute;
                right: 7%;
                color: $nouveux-color;
                background-color: #99E2D0;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                margin-top: 3%;
                margin-right: 2%;
                font-weight: 500;
                font-size: 1.2em;

            }
            
            .ressturants__img {
                width: 100%;
                height: 48vw;
                object-fit: cover;
                object-position: bottom;
                border-radius: 20px 20px 0 0;
            }
            
            
            .resturants__figure{
               
                margin: 0px 20px 20px 20px;
                box-shadow: 2px 1px 5px 2px rgb(209 209 209);
                border-radius: 25px;
                background-color: $white-color;
    
    
             }
    
            .ressturants__figcaption{
                padding: 10PX 30PX 5PX 15PX;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                p{
                    margin-bottom: 10px;

                }
                .resturants__coeur
                {
                    font-size: 2em;   
                }  
            }   
        }
    } 
}


footer
{
    background-color: $fotter-color;
    color: $white-color;
    
    .footer__contenu{
        padding: 23px;

        .footer__logo {
          filter: invert(1);
          height: 1.3em;
          margin-bottom: 10px;
        }

        .fotter__list{
            list-style: none;
        }

        .fotter__listitem{
            margin-bottom: 8px;
            .fotter__incons{
                margin-right: 8px;
                font-size: x-small;
            }
         }
    }
         

}

