@import 'variables';
@import 'animation';
@import 'mixin'

.header {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: $texte-font;
 }
.logo {
    @include text-width;
    .logo__img{
        width: $margpadd2 *10;
        padding: $margpadd;
        margin-top: $margpadd;
        }
}

.tete
    {
    width: $mainWidth;
    padding: 13px 0PX 13PX 0PX;
    background-color: $tete-color;
    box-shadow: inset 0px 5px 5px 0px darken($tete-color, 16%);
    @include display;
   
    .recherche__localis
    {
        margin-right: $margpadd +2;
        .recherche__place
        {
            border-radius: $margpadd +3;
            border: none;
            font-size: 1em;
            max-width: 10em;
            font-weight: 600;
            padding: 0.5em 0.5em 0.5em 1em;
        }
    }
    
}

.titres{
    @include text-width;
    text-align: center;
    width: $mainWidth;
    padding: 40px 0 40px 0;
    background-color: lighten($tete-color, 5%);
    
    .titres__h1{
        margin: auto;
        font-family: $titres-font;
        width: 70%;

    }
    .titres--p{
        margin-top: $margpadd;
        margin-bottom: $margpadd2;
        width: 90%;
        font-weight: 100;
        font-size: 1.2em;
    }
    .titres__btn{
        border-radius: $margpadd *5;
        color: lighten($tete-color, 5%);
        font-size: 1.2em;
        background: linear-gradient(0deg, $primaire-color, $Secondaire-color);
        margin: $margpadd2;
        border: none;
        box-shadow: 0px 5px 10px 2px $gray-color;
        padding: 2vh 4vw;
    }

}

.fonctionnement
{
    width: $mainWidth;
    padding-top: 12%;
    padding-bottom: $mainWidth /5;
    
    .fonctionnement__tetre{
        padding-left: $margpadd2;
        padding-bottom: $margpadd;
        font-family: $titres-font;
        
    }
    .fonctionnement__liste
    {
        margin: 20px 30px 0 30PX;
        box-shadow: 0px 5px 10px 2px $gray-color;
        padding: $margpadd2;
        border-radius: $margpadd +5;
        background-color: lighten($tete-color, 5%);
        align-items: center;
        @include display;
        
        .fonctionnement__step
        {
            position: absolute;
            left: $margpadd +7;
            background-color: $primaire-color;
            border-radius: $mainWidth /2;
            padding: 4.2px 9px 4.2px 9px;
            margin-top: -3px;
            color: $white-color;
        }
        .fonctionnement__incons{
            margin-right: 8vw;
            opacity: 0.5;
            font-size: x-large;
        }
        .fonctionnement__texte{
            font-weight: 600;
        }
    }
}


.partie_resturants{

    width: $mainWidth;
    background-color: lighten($tete-color, 5%);
    .resturants{
        width: $mainWidth;
        h2{
            padding-left: $margpadd2;
            padding-top: $margpadd *5;
            font-family: $titres-font;
        }
        .resturants__contenu {
            padding-bottom: $margpadd *5;
            a{
                text-decoration: none;
                color: $black-color;
                
            }
            .ressturants__tag{
                position: absolute;
                right: 7%;
                color:  darken($tertiaire-color, 40%);
                background-color: $tertiaire-color; 
                padding: 0.5rem 1rem;
                border-radius: $margpadd -5;
                margin-top: 3%;
                margin-right: 2%;
                font-weight: 500;
                font-size: 1.2em;

            }
            
            .ressturants__img {
                width: $mainWidth;
                height: 45vw;
                object-fit: cover;
                object-position: bottom;
                border-radius: $margpadd2 $margpadd2 0 0;
            }
            
            
            .resturants__figure{
               
                margin: 3vh 4vw;
                box-shadow: 2px 1px 5px 2px rgb(209 209 209);
                border-radius: $margpadd2 +2;
                background-color: $white-color;
    
    
             }
    
            .ressturants__figcaption{
                padding: 10PX 30PX 5PX 15PX;
                @include flex;
                justify-content: space-between;
                p{
                    margin-bottom: $margpadd;

                }
                .resturants__coeur
                {
                    font-size: 2em;   
                }  
            }   
        }
    } 
}


footer
{
    background-color: $fotter-color;
    color: $white-color;
    
    .footer__contenu{
        padding: $margpadd2 +3;
        .footer__logo {
          filter: invert(1);
          height: 1.3em;
          margin-bottom: $margpadd;
          margin-right: $margpadd *5;

        }

        .fotter_ul{
            list-style: none;
            justify-content: space-between;
        }

        .fotter__listitem{
            margin-bottom: $margpadd -2;
            margin-right: $margpadd *8;
            .fotter__incons{
                margin-right: $margpadd -2;
                font-size: x-small;
            }
            a{
                text-decoration: none;
                color: $white-color;
            }
         }
    }
         

}
@import 'responsive';




